<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sendismapp">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <service android:name=".Servicio" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".PreVisualizarRuta"
            android:label="@string/title_activity_pre_visualizar_ruta"></activity>
        <activity android:name=".Notificaciones" />
        <activity android:name=".GuardarRutaJSON" />
        <activity android:name=".ImagenPerfil" />
        <activity android:name=".CambiarContrasena" />
        <activity
            android:name=".Mapa_crear_ruta"
            android:label="@string/title_activity_mapa_crear_ruta" /> <!-- Manifest Johan -->
        <activity android:name=".Registrarse" />
        <activity android:name=".Login" />
        <activity android:name=".CrearRuta" />
        <activity android:name=".EditarRuta" />
        <activity android:name=".MenuPrincipal" /> <!-- Manifest Diego -->
        <activity android:name=".Comentario" />
        <activity android:name=".BuscarRutas" />
        <activity android:name=".Calificacion" /> <!-- Manifest Stiven -->
        <activity android:name=".VerMisRutas" />
        <activity android:name=".HistorialRutas" />
        <activity android:name=".HacerRecorrido" /> <!-- Manifest Gustavo -->
        <activity android:name=".ResultRoutesActivity" />
        <activity android:name=".InformacionRutaActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".verRuta" />
        <activity android:name=".InterestPointActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>